/* *{
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box !important;
} */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik Iso', cursive;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
}
/* styling for the mobile screen */
@media screen and (max-width: 990px) {
    .medium-screen {
        background-image: linear-gradient(rgba(0, 0, 0, 0.680), rgba(0, 0, 0, 0.680)), url(./assets/Img/Hero-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: auto !important;

    }
}
@media screen and (max-width: 430px) {
    .medium-screen {
        background-image: linear-gradient(rgba(0, 0, 0, 0.680), rgba(0, 0, 0, 0.680)), url(./assets/Img/Hero-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        height: auto !important;

    }
}

/* About styling */
.backg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url(./assets/Img/the\ about\ pic.jpg);
    background-size: cover;
    height: 15rem;
    background-position: center;
    object-fit: cover;
}

.gray {
    background-color: darkgray;
}

/* contact styling */
.backg-cont{
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url(./assets/Img/contact\ me.jpg);
    background-size: cover;
    height: 15rem;
    background-position: center;
    object-fit: cover;
}

/* Blog styling */
.backg-blog{
    background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(0, 0, 0, 0.700)), url(./assets/Img/the\ about\ pic.jpg);
    background-size: cover;
    height: 15rem;
    background-position: center;
    object-fit: cover;
}

/* project styling */
.backg-project{
    background-image: linear-gradient(rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.800)), url(./assets/Img/the\ about\ pic.jpg);
    background-size: cover;
    height: 15rem;
    background-position: center;
    object-fit: cover;
}

.bg-sec{
    background-color: rgba(169, 169, 169, 0.595);
    
}